In [1]:
from ImageService import ImageService
from ColorService import ColorService
from DataframeService import DataframeService
import pandas as pd
imageService = ImageService()
colorService = ColorService()
dataframeService = DataframeService()

In [2]:
df = dataframeService.getsavedDataframe()
genreMap = dataframeService.getValueMap(df, 'genre_1')

df.head()

,Unnamed: 0.1,Unnamed: 0,imdb_title_id,year,genre,colors,genre_1,genre_2,genre_3,color_1,color_2,color_3,color_4,color_5
0,0,18313,tt0079285,1980,"Adventure, Horror, Sci-Fi","['gray', 'white', 'black', 'navy', 'silver']",Adventure,Horror,Sci-Fi,gray,white,black,navy,silver
1,1,18611,tt0080339,1980,Comedy,"['white', 'gray', 'red', 'silver', 'maroon']",Comedy,NaN,NaN,white,gray,red,silver,maroon
2,2,18618,tt0080360,1980,"Horror, Sci-Fi, Thriller","['red', 'black', 'gray', 'maroon', 'silver']",Horror,Sci-Fi,Thriller,red,black,gray,maroon,silver
3,3,18620,tt0080365,1980,"Crime, Drama, Mystery","['gray', 'silver', 'gray', 'black', 'silver']",Crime,Drama,Mystery,gray,silver,gray,black,silver
4,4,18623,tt0080377,1980,"Action, Comedy","['black', 'gray', 'maroon', 'silver', 'olive']",Action,Comedy,NaN,black,gray,maroon,silver,olive

In [151]:
dataframeService.replaceValueFromMap(df, 'genre_1', genreMap)
df.head()

,Unnamed: 0,imdb_title_id,year,genre,colors,genre_1,genre_2,genre_3,color_1,color_2,color_3,color_4,color_5
0,18313,tt0079285,1980,"Adventure, Horror, Sci-Fi","['gray', 'white', 'black', 'navy', 'silver']",0,Horror,Sci-Fi,,,,,
1,18611,tt0080339,1980,Comedy,"['white', 'gray', 'red', 'silver', 'maroon']",1,NaN,NaN,,,,,
2,18618,tt0080360,1980,"Horror, Sci-Fi, Thriller","['red', 'black', 'gray', 'maroon', 'silver']",2,Sci-Fi,Thriller,,,,,
3,18620,tt0080365,1980,"Crime, Drama, Mystery","['gray', 'silver', 'gray', 'black', 'silver']",3,Drama,Mystery,,,,,
4,18623,tt0080377,1980,"Action, Comedy","['black', 'gray', 'maroon', 'silver', 'olive']",4,Comedy,NaN,,,,,

In [154]:
def test(colors, i):
    if colors is None or pd.isna(colors):
        return None
    return colors.replace('[','').replace(']','').split(',')[i].replace("'", '')

df['color_1'] = df['colors'].apply(lambda r: test(r, 0))
df['color_2'] = df['colors'].apply(lambda r: test(r, 1))
df['color_3'] = df['colors'].apply(lambda r: test(r, 2))
df['color_4'] = df['colors'].apply(lambda r: test(r, 3))
df['color_5'] = df['colors'].apply(lambda r: test(r, 4))

In [167]:
df.head()

,Unnamed: 0,imdb_title_id,year,genre,colors,genre_1,genre_2,genre_3,color_1,color_2,color_3,color_4,color_5
0,18313,tt0079285,1980,"Adventure, Horror, Sci-Fi","['gray', 'white', 'black', 'navy', 'silver']",Adventure,Horror,Sci-Fi,gray,white,black,navy,silver
1,18611,tt0080339,1980,Comedy,"['white', 'gray', 'red', 'silver', 'maroon']",Comedy,NaN,NaN,white,gray,red,silver,maroon
2,18618,tt0080360,1980,"Horror, Sci-Fi, Thriller","['red', 'black', 'gray', 'maroon', 'silver']",Horror,Sci-Fi,Thriller,red,black,gray,maroon,silver
3,18620,tt0080365,1980,"Crime, Drama, Mystery","['gray', 'silver', 'gray', 'black', 'silver']",Crime,Drama,Mystery,gray,silver,gray,black,silver
4,18623,tt0080377,1980,"Action, Comedy","['black', 'gray', 'maroon', 'silver', 'olive']",Action,Comedy,NaN,black,gray,maroon,silver,olive

In [6]:
df['genre_1']=df['genre_1'].astype('category').cat.codes
df['genre_2']=df['genre_2'].astype('category').cat.codes
df['genre_3']=df['genre_3'].astype('category').cat.codes
df['color_1']=df['color_1'].astype('category').cat.codes
df['color_2']=df['color_2'].astype('category').cat.codes
df['color_3']=df['color_3'].astype('category').cat.codes
df['color_4']=df['color_4'].astype('category').cat.codes
df['color_5']=df['color_5'].astype('category').cat.codes
df.corr()

,year,genre_1,genre_2,genre_3,color_1,color_2,color_3,color_4,color_5
year,1.000000,-0.027061,-0.014003,0.011640,-0.001056,-0.016210,-0.027268,-0.014256,-0.010912
genre_1,-0.027061,1.000000,0.308899,-0.178530,-0.005895,-0.017227,-0.021845,-0.011562,-0.010735
genre_2,-0.014003,0.308899,1.000000,0.021235,-0.033985,-0.022840,-0.005178,0.004600,-0.007798
genre_3,0.011640,-0.178530,0.021235,1.000000,-0.075378,0.002087,-0.003116,-0.014173,0.012585
color_1,-0.001056,-0.005895,-0.033985,-0.075378,1.000000,-0.344304,0.006056,-0.026552,-0.000889
color_2,-0.016210,-0.017227,-0.022840,0.002087,-0.344304,1.000000,-0.218755,-0.047026,-0.020610
color_3,-0.027268,-0.021845,-0.005178,-0.003116,0.006056,-0.218755,1.000000,-0.181352,-0.123735
color_4,-0.014256,-0.011562,0.004600,-0.014173,-0.026552,-0.047026,-0.181352,1.000000,-0.175957
color_5,-0.010912,-0.010735,-0.007798,0.012585,-0.000889,-0.020610,-0.123735,-0.175957,1.000000